/*align in rows*/

/* body {
    background-color: rgb(11, 148, 148);
    width: 25rem;
    height: 25rem;
}

.tooltip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tooltip {
    position: relative;
    display: block;
    margin: 1em;
    font-size: 1.2em;
    background-color: #1f74e1;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.tooltip:before {
    content: "Demo Tooltip";
    font-size: 0.8em;
    position: absolute;
    width: 150%;
    background-color: #000000;
    transform: translateX(-50%);
    left: 50%;
    padding: 0.8em 1em;
    display: none;
}

.tooltip:after {
    content: "";
    position: absolute;
    border: 1.25em solid black;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
}

.tooltip:hover:before {
    display: block;
}

.tooltip:hover:after {
    display: block;
} */


/*align in col*/
body {
    background-color: rgb(11, 148, 148);
    width: 25rem;
    height: 25rem;
}

.tooltip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tooltip {
    position: relative;
    display: block;
    margin: 1em;
    font-size: 1.2em;
    background-color: #1f74e1;
    color: #ffffff;
    text-align: center;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.tooltip:before {
    content: "Demo Tooltip";
    font-size: 0.8em;
    position: absolute;
    width: 150%;
    background-color: #000000;
    transform: translateX(-50%);
    left: 50%;
    padding: 0.8em 1em;
    display: none;
}

.tooltip:after {
    content: "";
    position: absolute;
    border: 1.25em solid black;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform: translateX(-50%);
    left: 50%;
    top: -1.5em;
    display: none;
}

.tooltip:hover:before {
    display: block;
}

.tooltip:hover:after {
    display: block;
} 
/* body{
    background-color: rgb(11, 148, 148);
    width: 25rem;
    height: 25rem;
}
.tooltip{
    position:relative;
    display:black;
    margin:auto;
    font-size: 1.2em;
    background-color: #1f74e1;
    color:#ffffff;
    text-align:center;
    padding:0.8em 2em;
    border-radius: 0.5em;
    border:none;
    cursor:pointer;
    margin-top: 5em;
}

.tooltip-top:before{
    content:"Demo Tooltip";
    font-size: 0.8em;
    position: absolute;
    width:150%;
    background-color: #000000;
    transform:translateX(-50%);
    left:50%;
    top: -4.5em;
    padding:0.8em 1em;
    display:none;
}
.tooltip-top:after{
    content :"";
    position: absolute;
    border-top: 1.25em solid black;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform:translateX(-50%);
    left:50%;
    top:-1.5em;
    display: none;
} */


/*Bootom*/
.tooltip-bottom:before{
    content:"Demo Tooltip";
    font-size:0.8em;
    position:absolute;
    width:150%;
    background-color:#000000;
    padding:0.8em 1em;
    transform:translateX(-50%);
    left:50%;
    bottom:-4.5em;
    display:none;
}
.tooltip-bottom:after{
    content:"";
    position:absolute;
    border-bottom: 1.25em solid black;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    transform:translateX(-50%);
    left:50%;
    bottom:-1.5em;
    display:none;
}

/*left*/

.tooltip-left:before{
    content:"Demo Tooltip";
    font-size: 0.8em;
    position:absolute;
    width:150%;
    background-color: #000000;
    padding:0.8em 1em;
    transform: translateY(-50%);
    top:50%;
    left:calc(-150% - 4em);
    display:none;
}

.tooltip-left:after{
    content:"";
    position:absolute;
    height:0;
    border-left: 1.25em solid black;
    border-top: 1.25em solid transparent;
    border-bottom: 1.25em solid transparent;
    bottom:0.3em;
    left:-2.2em;
    display:none;
}

/*right*/

.tooltip-right:before{
    content:"Demo Tooltip";
    font-size: 0.8em;
    position:absolute;
    width:150%;
    background-color: #000000;
    padding:0.8em 1em;
    transform: translateY(-50%);
    top:50%;
    right:calc(-150% - 4em);
    display:none;
}

.tooltip-right:after{
    content:"";
    position:absolute;
    height:0;
    border-left: 1.25em solid black;
    border-top: 1.25em solid transparent;
    border-bottom: 1.25em solid transparent;
    bottom:0.3em;
    right:-2.2em;
    display:none;
}
.tooltip:hover:before{
    display:block;
}
.tooltip:hover:after{
    display:block;
}
